body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header{
    display: inline-flex;
    width: 100%;
    height: 69px;
    justify-content: space-between;
}


.logo-container{
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin-left: 10px;
}

.logo{
    height: 50px;
}

.nav-items-container{
    display: flex;
    text-decoration: underline;
}

.nav-items{
    text-decoration: underline;
    align-self: center;
    justify-self: center;
    padding: 10px;
}